<div class="text-center">
  <h2>{{blog.title}}</h2>
  <p>{{blog.content}}</p>
  <p>Created on {{format_date blog.date_created}} by {{blog.id}}</p>

  <form class="form new-comment-form">
    <div class="form-group">
      <label for="new-comment-id">Comment: </label>
      <input class="form-input" type="text" id="new-comment-id" name="new-comment-id" />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      id="new-comment-btn"
    >Add</button>
  </form>

        <div class="comments-section">
        <h3>Existing Comments</h3>
        <ul class="comment-list">
        
        {{#each blog.comments as |comment|}}
        {{log blog.comments}}

          {{!-- Include associations to fetch user details --}}
          {{#with comment.user}}
          <p>User {{name}} said:</p>
          {{/with}}



          <p>{{comment.comment_body}}</p>
          <p>Added: {{comment.date_created}}</p>
          <br>
          
        {{/each}}
        </ul>

        {{!-- {{#each (list_all_comments_on_given_blog comments blog.id)}}
          <li>{{this.comment_body}}</li>
        {{/each}} --}}
      {{!-- {{#if comments.length}}
      {{#each comments}}
        {{#if (eq comment.blog_id blog.id)}}
          <p>Comment: {{comment.comment_body}}</p>
        {{/if}}
      {{/each}}
    {{/if}} --}}

         
        </ul>
    </div>

</div>

  <script defer src= "/js/blog.js"></script>