        {{!-- <button class="post-title" data-edit-id="{{blogs.id}}" id = {{id}}>EDIT</button> --}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog:</h3>
        <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-name">Blog name:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
      <div class="form-group">
        <label for="blog-desc">Content:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 blog-list">
    {{#if blogs.length}}
      <h3>Current blogs:</h3>

      {{#each blogs}}
  <div id="app">
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{id}}">{{id}}</a></h4>
      </div>
      {{#if editing}}
        <form>
          <label for="title">Title:</label>
          <input type="text" id="title" value="{{title}}">
          
          <label for="content">Content:</label>
          <textarea id="content">{{content}}</textarea>
          
          <button id = '{{id}}' class = "post-title" type="button" data-save-id="{{id}}">Save Changes</button>
        </form>
      {{else}}
        <h1>{{title}}</h1>
        <p>{{content}}</p>
        <button id = '{{id}}' class="post-title" data-edit-id="{{id}}">EDIT</button>
      {{/if}}

      <div class="col-md-4">
        <p>Title: {{title}}</p>
        <p>Content: {{content}}</p>
      </div>
      <button class="btn btn-sm btn-danger" data-del-id="{{id}}">DELETE</button>
    </div>
  </div>
{{/each}}

    {{else}}
      <p>No blogs available.</p>
    {{/if}}
  </div>
</div>

<script src="./js/dashboard.js"></script>
