<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    {{!-- Want to add a comment button here --}}
    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
    
    {{!-- Are there any comments --}}
    {{#if comments.length}}
      {{#each comments}}
        {{#if (eq comment.blog_id blog.id)}}
          <p>Comment: {{comment.comment_body}}</p>
        {{/if}}
      {{/each}}
    {{/if}}
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}}