<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-name">Blog name:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
      <div class="form-group">
        <label for="blog-desc">description:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
    <div class="col-md-6 blog-list"></div>
  {{#if blogs}}
  
    <h3>Current blogs:</h3>

    
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{blogs.id}}">{{blogs.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <p>Title: {{blogs.title}}</p>
        <p>Content: {{blogs.content}}</p>
        <button class="btn btn-sm btn-danger" data-id="{{blogs.id}}">DELETE</button>
      </div>
    </div>
    
  
  {{/if}}
  </div>
</div>

<script src="./js/profile.js"></script>